<div class="left">
    <div id="head">
        {{#with gm}}
        <h1 id="name">{{this.FirstName}} {{this.LastName}}</h1>
        {{#if this.check}}
        <p id="position">General Manager</p>
        {{else}}
        <p id="position">{{this.Department}} Department</p>
        {{/if}}
        {{/with}}
    </div>
    {{#with gm}}
    {{#if this.check}}
    <div id="main">
        <a href="/generalmanager/{{this._id}}/personalpage">
            <div class="sub" id="overview">Overview</div>
        </a>
        <a href="/generalmanager/{{this._id}}/createAccount">
            <div class="sub" id="creatNew">Create Account</div>
        </a>
        <a href="/generalmanager/{{this._id}}/devices">
        <div class="sub" id="datas">Data</div>
        </a>
        <a href="/generalmanager/{{this._id}}/profile">
        <div class="sub" id="profile">Profile</div>
        </a>
        <a href="/generalmanager/{{this._id}}/staff">
        <div class="sub" id="staff">Staff</div>
        </a>
        <a href="/generalmanager/{{this._id}}/department">
        <div class="sub" id="department">Department</div>
        </a>
    </div>
    {{else}}
    <div id="main">
        <a href="/manager/{{this._id}}/personalpage">
            <div class="sub" id="overview">Overview</div>
        </a>
        <a href="/manager/{{this._id}}/createAccount">
            <div class="sub" id="creatNew">Create Account</div>
        </a>
        <a href="/manager/{{this._id}}/devices">
        <div class="sub" id="datas">Data</div>
        </a>
        <a href="/manager/{{this._id}}/profile">
        <div class="sub" id="profile">Profile</div>
        </a>
        <a href="/manager/{{this._id}}/staff">
        <div class="sub" id="staff">Staff</div>
        </a>
    </div>
    {{/if}}
    {{/with}}
    <div id="foot">
        <img src="/picture/logo.png" alt="">
    </div>
</div>

<div class="content" id="depa">
    <form action="" method="post">
        <div id="departmentset">
            <div class="departmentEle" id="headDepa">Department Name </div>
            {{#each DeList}}
            <div class="departmentEle">{{this.DepartmentName}}
                <button class="delet_device" name="deleDe" id="deleDe" value="{{this.DepartmentName}}" onclick = "JavaScript:return confirm('Are you sure?')"><img src="/picture/delet.png"></img></button>
            </div>
            {{/each}}
        </div>
        </form>
        <button class="addDepa" id="addDepa">
            <svg xmlns="http://www.w3.org/2000/svg" width="41.609" height="35.387" viewBox="0 0 41.609 35.387">
                <path id="plus" d="M45.109,18.828H28.189V4.5H21.421V18.828H4.5v5.731H21.421V38.887h6.768V24.559H45.109Z"
                    transform="translate(-4 -4)" fill="#52b981" stroke="#52b981" stroke-width="1" />
            </svg>
        </button>

    </div>
<form action="" method="post">
    <div id="a_mask" class="mask"></div>
        <div id="j_formAdd" class="form-add">
            <div class="form-add-title">
                <span>Department Addition</span>
                <div id="j_hideFormAdd">x</div>
            </div>
            <div class="form-item">
                <label class="lb" for="j_txtLesson">Name: </label>
                <input class="txt" type="text" name="adddepart" id="j_txtLesson" placeholder="Please enter department">
            </div>

            <button class="form-submit" id="j_btnAdd">add</button>
    </div>
</form>
<div id="s_mask" class="mask"></div>
        <div id="s_formAdd" class="form-add">
            <div class="form-add-title">
                <span>Fire Staff</span>
                <div id="j_hideFormAdd">x</div>
            </div>
            <span>Are you sure you want to delet this department?</span>

            <div class="form-submit">
                <button class="form-submit" name="deleDe" id="yesBtn" value="1">Yes</button>
            </div>
            <div class="form-submit">
                <button class="form-submit" id="noBtn">No</button>
            </div>
        </div>

<script>
    let mask = document.getElementById('a_mask');
    let formAdd = document.getElementById('j_formAdd');
    document.getElementById('addDepa').onclick = function(){
        formAdd.style.display = "block";
        mask.style.display = "block";
    }
    document.getElementById("j_hideFormAdd").onclick=function(){
        formAdd.style.display="none";
        mask.style.display = "none";
    }
    document.getElementById('j_btnAdd').onclick = function(){
        formAdd.style.display="none";
        mask.style.display = "none";
    }
 
</script>
<script>
    let fireStaff = document.getElementById("deleDepart");
    let SMask = document.getElementById("s_mask");
    let SFormAdd = document.getElementById("s_formAdd");
    fireStaff.onclick = function(){
        SMask.style.display = "block";
        SFormAdd.style.display = "block";
    }

    function closeDeletPage(){
        SMask.style.display = "none";
        SFormAdd.style.display = "none";
    }
    let noBtn = document.getElementById("noBtn");
    noBtn.onclick = function(){
        closeDeletPage();
    }

    let yesBtn = document.getElementById("yesBtn");
    yesBtn.onclick = function(){
        closeDeletPage();
    }
</script>
