<div class="left">
    <div id="head">
        {{#with gm}}
        <h1 id="name">{{this.FirstName}} {{this.LastName}}</h1>
        {{#if this.check}}
        <p id="position">General Manager</p>
        {{else}}
        <p id="position">{{this.Department}} Department</p>
        {{/if}}
        {{/with}}
    </div>
    {{#with gm}}
    {{#if this.check}}
    <div id="main">
        <a href="/generalmanager/{{this._id}}/personalpage">
            <div class="sub" id="overview">Overview</div>
        </a>
        <a href="/generalmanager/{{this._id}}/createAccount">
            <div class="sub" id="creatNew">Create Account</div>
        </a>
        <a href="/generalmanager/{{this._id}}/devices">
        <div class="sub" id="datas">Data</div>
        </a>
        <a href="/generalmanager/{{this._id}}/profile">
        <div class="sub" id="profile">Profile</div>
        </a>
        <a href="/generalmanager/{{this._id}}/staff">
        <div class="sub" id="staff">Staff</div>
        </a>
        <a href="/generalmanager/{{this._id}}/department">
        <div class="sub" id="department">Department</div>
        </a>
    </div>
    {{else}}
    <div id="main">
        <a href="/manager/{{this._id}}/personalpage">
            <div class="sub" id="overview">Overview</div>
        </a>
        <a href="/manager/{{this._id}}/createAccount">
            <div class="sub" id="creatNew">Create Account</div>
        </a>
        <a href="/manager/{{this._id}}/devices">
        <div class="sub" id="datas">Data</div>
        </a>
        <a href="/manager/{{this._id}}/profile">
        <div class="sub" id="profile">Profile</div>
        </a>
        <a href="/manager/{{this._id}}/staff">
        <div class="sub" id="staff">Staff</div>
        </a>
    </div>
    {{/if}}
    {{/with}}
    <div id="foot">
        <img src="/picture/logo.png" alt="">
    </div>
</div>

<div class="content" id="data">
    <div class="topFilter">
        <div>
            <span>Area:</span>
            <select name="area" class="box" id="area" onchange="getSelectValue()">
                <option value="all" selected>All</option>
                <option value="it">IT</option>
                <option value="sales">Sales</option>
                <option value="design">Design</option>
                <option value="administration">Administration</option>
                <option value="humanResources">Human Resources</option>
                <option value="market">Market</option>
            </select>
        </div>
        <div>
            <span>Type:</span>
            <select name="type" class="box" id="type" onchange="getSelectValue()">
                <option value="all" selected>All</option>
                <option value="coal">Coal</option>
                <option value="hydrogen">Hydrogen</option>
                <option value="electricity">Electricity</option>
                <option value="naturalGas">Natural Gas</option>
                <option value="other">Other</option>
            </select>
        </div>
        <a href="#" id="resetFilter">RESET FILTERS</a>
    </div>
    <form method="post">
    <table border="1" id="dataOverview">
        <thead>
            <th class="sort" data-key="name">Device</th>
            <th class="sort" data-key="id">ID</th>
            <th class="sort" data-key="energytype">Energy</th>
            <th class="sort" data-key="area">Area</th>
            <th class="sort" data-key="usage">Usage</th>
            <th class="sort" data-key="status">Status</th>
                
        </thead>
        <tbody>

        </tbody>
            
    </table>
    </form>
        <table >
            <tr class="lastRow">
                <td></td>
                <td colspan="3">Total</td>
                <td colspan="2" id="totalUsage"></td>
            </tr>
        </table>
        <button id="addDevice">
            Add New Device
        </button>
</div>

<div class="content" id="addNewDevice">
        <div class="title"><span id="fst">Data</span><span id="secd">/Device's Addition</span></div>
        <div class="device">
            <form action="" method="post" enctype="multipart/form-data">
            <div class="deviceInf">
                <div>Device Name: <input type="text" name="deviceName" id="deviceName"></div>
                <div>Max usage: <input type="text" name="max" id="max"></div>
                <div>Min usage: <input type="text" name="min" id="min"></div>
                <div id="departmentselect">
                <span>Department:</span>
                <select name="departmentBox" class="box" id="departmentBox">
                    {{#each alldeparList}}
                    <option value={{this}}>{{this}}</option>
                    {{/each}}
                </select>
                </div>
                <div id="departmentselect">
                <span>Energy Type:</span>
                <select name="typeBox" class="box" id="typeBox">
                    <option value="electricity">Electricity (kWh)</option>
                    <option value="coal">Coal (mj/kg)</option>
                    <option value="gas">Natural Gas (Nm³)</option>
                    <option value="hydrogen">Hydrogen(ml)</option>
                    <option value="other">Other</option>
                </select>
               
                </div>
                <input type="file" name="imgfile" id="imgfile" value="uploadImage" accept="image/*">
                <div id="pseudo-style">Upload Image</div>
                <button class="btn2" id="saveNewDevice">Save</button>
            </div>
            </form>
            <div id="preview"></div>
        </div>
</div>

<script>
        var preview = document.getElementById("preview");
        var img = document.createElement("img"); 
        var file = document.getElementById("imgfile");

        file.onchange = function() {
            var fileReader = new FileReader();
            fileReader.readAsDataURL(this.files[0]);
            fileReader.onload = function() {
                img.src = fileReader.result;
                img.name = "upload";
                img.style.width = "100%";
                img.style.height = "91%";
                preview.appendChild(img);
            };
        };
        
</script>
<script>
    let addDevicePage = document.getElementById('addNewDevice');
    let addDevice = document.getElementById('addDevice');

addDevice.onclick = function(){
    data.style.display = "none";
    addDevicePage.style.display = "flex";
}
//finish adding device, turn back to data page
/*var del_btn = document.createElement("img");
del_btn.onclick = function(){
    if(confirm("Do you want to remove this device?")){
        this.parentElement.parentElement.remove();
    }
        
}*/
</script>

<script>
    var deviceDataList = new Array();
</script>

{{#each AllDeviceList}}
<script>
    var crrstatus = {{this.Status}};
    var st;
    if(crrstatus == true){
        st = "on"
    }else{
        st = "off"
    }
    var oneD = {
        name: '{{this.Device_name}}',
        id: '{{this._id}}',
        energytype: '{{this.Energy_type}}',
        area: '{{this.Department}}',
        usage: {{this.Week_Energy_Usage}},
        status: st
    };

    deviceDataList.push(oneD);
</script>
{{/each}}

<script src="/js/changeTable.js"></script>
<script>
    let areaFilter = document.getElementById('area');
    let typeFilter = document.getElementById('type');

    let resetFilter = document.getElementById('resetFilter');
    resetFilter.onclick = function () {
        areaFilter.value = 'all';
        typeFilter.value = 'all';
        inittable();
    }

</script>
