<div class="left">
    <div id="head">
        {{#with gm}}
        <h1 id="name">{{this.FirstName}} {{this.LastName}}</h1>
        {{#if this.check}}
        <p id="position">General Manager</p>
        {{else}}
        <p id="position">{{this.Department}} Department</p>
        {{/if}}
        {{/with}}
    </div>
   {{#with gm}}
    {{#if this.check}}
    <div id="main">
        <a href="/generalmanager/{{this._id}}/personalpage">
            <div class="sub" id="overview">Overview</div>
        </a>
        <a href="/generalmanager/{{this._id}}/createAccount">
            <div class="sub" id="creatNew">Create Account</div>
        </a>
        <a href="/generalmanager/{{this._id}}/devices">
        <div class="sub" id="datas">Data</div>
        </a>
        <a href="/generalmanager/{{this._id}}/profile">
        <div class="sub" id="profile">Profile</div>
        </a>
        <a href="/generalmanager/{{this._id}}/staff">
        <div class="sub" id="staff">Staff</div>
        </a>
        <a href="/generalmanager/{{this._id}}/department">
        <div class="sub" id="department">Department</div>
        </a>
    </div>
    {{else}}
    <div id="main">
        <a href="/manager/{{this._id}}/personalpage">
            <div class="sub" id="overview">Overview</div>
        </a>
        <a href="/manager/{{this._id}}/createAccount">
            <div class="sub" id="creatNew">Create Account</div>
        </a>
        <a href="/manager/{{this._id}}/devices">
        <div class="sub" id="datas">Data</div>
        </a>
        <a href="/manager/{{this._id}}/profile">
        <div class="sub" id="profile">Profile</div>
        </a>
        <a href="/manager/{{this._id}}/staff">
        <div class="sub" id="staff">Staff</div>
        </a>
    </div>
    {{/if}}
    {{/with}}
    <div id="foot">
        <img src="/picture/logo.png" alt="">
    </div>
</div>

<div class="content" id="staffDetailPage">
    <form method="post">
        <div id="headPart"><span id="fstPart">Staff</span><span id="secdPart">/Staff Detail</span></div>
        <div id="staffDetails"> <span id="staffName">Jason's</span> Personal Detail</div>
        <div class="person">
            {{#with staff}}
            <div class="attr name">
                <div id="staffNameFst">
                    <span class="info">First name:</span>
                    <span id="staffFName">{{this.FirstName}}</span>
                </div>
                <div id="staffNameSecd">
                    <span class="info">Last name:</span>
                    <span id="staffLName">{{this.LastName}}</span>
                </div>

            </div>
            <div class="attr gender">
                <span class="info">Gender:</span>
                <span id="staffGender"> {{this.Gender}}</span>
            </div>

            <div class="attr id">
                <span class="info">Staff ID:</span>
                <span id="staffID"> {{this.StaffId}}</span>
            </div>
            <div class="attr">
                <span class="info">Email:</span>
                <span id="staffEmail">{{this.Email}}</span>
            </div>
            <div class="attr contact">
                <span class="info">Contact number:</span>
                <span id="staffNumber">{{this.ContactNumber}}</span>
                
            </div>
            <div class="attr staffPosition">
                <span class="info">Position:</span>
                <span id="staffPosition">{{this.Position}}</span>
                
            </div>
            {{/with}}
            <div class="attr staffDevice">
                <span class="info">Devices:</span>
                {{#each availableDevices}}
                <span id="staffDevice">{{this.Device_name}}</span>
                <button style="border: none" name="deleDe" value="{{this.Device_name}}"><img src="/picture/delet.png"></img></button>
                {{/each}}
                <img src="/picture/add.png" alt="" id="addToStaff">
                <input type="text" name="newDeviceAdd" id="newDeviceAdd">
            </div>
        </div>
        <div id="s_mask" class="mask"></div>
        <div id="s_formAdd" class="form-add">
            <div class="form-add-title">
                <span>Fire Staff</span>
                <div id="j_hideFormAdd">x</div>
            </div>
            <span>Are you sure you want to delet this staff?</span>

            <div class="form-submit">
                <button class="form-submit" name="deleteS" id="yesBtn" value="1">Yes</button>
            </div>
            <div class="form-submit">
                <button class="form-submit" id="noBtn">No</button>
            </div>
        </div>
        <div id="bottom">
            <button id="saveChanges" disabled>Save</button>
            <input type="button" value="Delete" id="firestaff">
        </div>
    </form>
    <!--div id="bottom">
        <button id="firestaff" value="">Delete</button>
    </div-->
</div>

<script>

let staffDevice = document.getElementById("staffDevice");
let saveChanges = document.getElementById("saveChanges");
let addToStaff = document.getElementById("addToStaff");
let newDeviceAdd = document.getElementById("newDeviceAdd");
addToStaff.onclick = function(){
    newDeviceAdd.style.display = "inline-block";
    saveChanges.removeAttribute('disabled');
    saveChanges.onclick = function(){
        newDeviceAdd.style.display = "none";
        //newDeviceAdd.value = "";
        
    }
    
    
}
let fireStaff = document.getElementById("firestaff");
let SMask = document.getElementById("s_mask");
let SFormAdd = document.getElementById("s_formAdd");
fireStaff.onclick = function(){
    SMask.style.display = "block";
    SFormAdd.style.display = "block";
}

function closeDeletPage(){
    SMask.style.display = "none";
    SFormAdd.style.display = "none";
}
let noBtn = document.getElementById("noBtn");
noBtn.onclick = function(){
    closeDeletPage();
}

let yesBtn = document.getElementById("yesBtn");
yesBtn.onclick = function(){
    closeDeletPage();
}



</script>