<div class="left">
    <div id="head">
        {{#with gm}}
        <h1 id="name">{{this.FirstName}} {{this.LastName}}</h1>
        {{#if this.check}}
        <p id="position">General Manager</p>
        {{else}}
        <p id="position">{{this.Department}} Department</p>
        {{/if}}
        {{/with}}
    </div>
    {{#with gm}}
    {{#if this.check}}
    <div id="main">
        <a href="/generalmanager/{{this._id}}/personalpage">
            <div class="sub" id="overview">Overview</div>
        </a>
        <a href="/generalmanager/{{this._id}}/createAccount">
            <div class="sub" id="creatNew">Create Account</div>
        </a>
        <a href="/generalmanager/{{this._id}}/devices">
        <div class="sub" id="datas">Data</div>
        </a>
        <a href="/generalmanager/{{this._id}}/profile">
        <div class="sub" id="profile">Profile</div>
        </a>
        <a href="/generalmanager/{{this._id}}/staff">
        <div class="sub" id="staff">Staff</div>
        </a>
        <a href="/generalmanager/{{this._id}}/department">
        <div class="sub" id="department">Department</div>
        </a>
    </div>
    {{else}}
    <div id="main">
        <a href="/manager/{{this._id}}/personalpage">
            <div class="sub" id="overview">Overview</div>
        </a>
        <a href="/manager/{{this._id}}/createAccount">
            <div class="sub" id="creatNew">Create Account</div>
        </a>
        <a href="/manager/{{this._id}}/devices">
        <div class="sub" id="datas">Data</div>
        </a>
        <a href="/manager/{{this._id}}/profile">
        <div class="sub" id="profile">Profile</div>
        </a>
        <a href="/manager/{{this._id}}/staff">
        <div class="sub" id="staff">Staff</div>
        </a>
    </div>
    {{/if}}
    {{/with}}
    <div id="foot">
        <img src="/picture/logo.png" alt="">
    </div>
</div>

<div class="content" id="staf">
        <table border="1" id="staffTable">
            <thead>
                <th>First name</th>
                <th>Last name</th>
                <th>Department</th>
                <th>Position</th>
                <th>ID</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th></th>
            </thead>
            <tbody class="staffTbody">
                {{#each StaffList}}
                {{#if this.check}}
                    <tr onClick="location.href='/generalManager/{{this.gm_id}}/{{this.staff_id}}/staffdetail'">
                {{else}}
                    <tr onClick="location.href='/manager/{{this.gm_id}}/{{this.staff_id}}/staffdetail'">
                {{/if}}
                    <td>{{this.FirstName}}</td>
                    <td>{{this.LastName}}</td>
                    <td>{{this.Department}}</td>
                    <td>{{this.Position}}</td>
                    <td>{{this.StaffId}}</td>
                    <td>{{this.Email}}</td>
                    <td>{{this.ContactNumber}}</td>
                </tr>
                {{/each}} 

                {{#each ManagerList}}
                {{#if this.check}}
                    <tr onClick="location.href='/generalManager/{{this.gm_id}}/{{this.staff_id}}/staffdetail'">
                {{else}}
                    <tr onClick="location.href='/manager/{{this.gm_id}}/{{this.staff_id}}/staffdetail'">
                {{/if}}
                    <td>{{this.FirstName}}</td>
                    <td>{{this.LastName}}</td>
                    <td>{{this.Department}}</td>
                    <td>{{this.Position}}</td>
                    <td>{{this.Id}}</td>
                    <td>{{this.Email}}</td>
                    <td>{{this.ContactNumber}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
